.sessions {
  display: flex;
  flex-wrap: wrap;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: content;
  gap: 35px;
}

.home-box-item-title {
  padding: 10px;
  margin: 10px;
}

.course,
.session {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(150, 150, 150, 0.2);
  min-width: 300px;
}

.course-title,
.session-name {
  align-self: center;
}

.course-data,
.session-time {
  font-size: small;
}

.course-title,
.teacher-name {
  padding-bottom: 10px;
}

.daily-calendar-top {
  display: flex;
  gap: 5px;
}

.daily-calendar-top > .calendar-top-item {
  background-color: rgba(150, 150, 150, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.calendar-wrapper-item-body {
  margin: auto 20px;
  display: flex;
  max-width: 100%;
}

.calendar-wrapper-item-body-top {
  padding-bottom: 10px;
}

.calendar-wrapper-item-body > div:nth-child(1) {
  flex-grow: 1;
}

.calendar-wrapper-item-body > div:nth-child(2) {
  flex-grow: 2;
}

.calendar-wrapper-item-body > div:nth-child(3) {
  flex-grow: 2;
}

.calendar-wrapper-item-body > div:nth-child(4) {
  flex-grow: 2;
}

.calendar-wrapper-item-body-content {
  background-color: rgba(100, 100, 100, 0.3);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 7px;
}

.calendar-wrapper-item-body-content > div:nth-child(1) {
  margin-right: 20px;
}

.course-detail-top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.course-detail-top > .course-detail-top-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 10px;
  cursor: pointer;
}

.course-detail-top-item > .course-detail-top-item-modal {
  display: flex;
  position: fixed;
  height: 90%;
  width: 90%;
  left: 5%;
  top: -90%;
  transition: 0.5s;
  cursor: default;
}

.modal-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  position: relative;
  background-color: rgb(25, 25, 25);

  border-radius: 10px;
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
}

.modal-close {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  background-color: red;
  border-start-start-radius: 10px;
}

.student-modal-item {
  display: flex;
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 5px;
}

.student-modal-item > .student-modal-item-info {
  flex-grow: 7;
}

.student-modal-item > .student-modal-item-is_access {
  flex-grow: 1;
}

.student-modal-item > .student-modal-item-access_inf {
  flex-grow: 1;
}

.student-modal-head {
  display: flex;
  padding: 10px 20px;
  margin: 10px 20px;
  margin-top: 30px;
}
.student-modal-head > span:nth-child(1) {
  flex-grow: 8;
}
.student-modal-head > span:nth-child(2) {
  flex-grow: 1;
}
.student-modal-head > span:nth-child(3) {
  flex-grow: 1;
}

.student-modal-set-access {
  background-color: rgba(0, 142, 17, 0.701);
}

.student-modal-get-access {
  background-color: rgba(142, 0, 0, 0.701);
}

.student-modal-set-access:active {
  border-color: rgba(0, 142, 17, 0.701);
  border-top: 2px solid rgba(0, 142, 17, 1);
  border-bottom: 2px solid rgba(0, 142, 17, 1);
}

.student-modal-get-access:active {
  border-color: rgba(142, 0, 0, 0.701);
  border-top: 2px solid rgba(142, 0, 0, 1);
  border-bottom: 2px solid rgba(142, 0, 0, 1);
}

.has-access-yes {
  color: rgb(1, 235, 1);
  font-weight: 700;
}

.has-access-no {
  color: red;
  font-weight: 700;
}
