.teacher-home-box,
.student-home-box {
  margin: auto 30px;
}

.teacher-home-box > .left-side,
.student-home-box > .left-side,
.teacher-home-box > .right-side,
.student-home-box > .right-side {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  max-width: calc(100% / 2);
}

.home-box-current-courses {
  background-color: wheat;
  min-height: min-content;
}

.home-box-next-48 {
  background-color: aquamarine;
  height: 200px;
}

.home-box-exams {
  background-color: brown;
  height: 100px;
}

.home-box-assignments {
  background-color: blueviolet;
  height: 100px;
}

.home-box-this-week {
  position: relative;
  height: fit-content;
  background-color: rgba(150, 150, 150, 0.2);
  border-radius: 5px;
}

.daily-calendar-top {
}

.daily-calendar-slider {
  width: 100%;
  overflow: hidden;
}

.daily-calendar-wrapper {
  width: 700%;
  display: flex;
  position: relative;
  right: 100%;
  transition: 0.3s;
}

.calendar-wrapper-item {
  width: calc(100% / 7);
  height: fit-content;
}
